@import url("https://fonts.googleapis.com/css2?family=Raleway:wght;Open+Sans:wght@400@700&display=swap");

.design {
  width: 275px;
  height: 380px;
  background-color: #fefefe;
  border: 0.5px solid rgb(190, 189, 189);
  margin-left: 25px;

  padding: 30px 15px 35px 15px;
  position: relative;
  margin: 5px 15px;
}
.design span {
  text-align: center;
}
.design h5 {
  background-color: #ff214f;
  padding-bottom: 15px;
  font-weight: 300;
  clip-path: circle();
  color: #fefefe;
  font-size: 60px;
}
.design h4 {
  font-weight: 700;
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
}
.design p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-style: italic;
  color: #808080;
}
.up {
  padding-top: 100px;
  position: absolute;
  top: 740px;
  right: 75px;
}
